* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 35px;
    background-color: antiquewhite; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

img{
    max-height: 100px;
}

nav{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


h1{
    color: black;
    text-align: center;
    margin-top: 10px;
}

.div_button{
    list-style: none;
    display: flex;
    gap: 20px;
}

button{
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

table, th, td{
    border: 1px solid;
    padding: 2px;
}


table{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    margin-left: 10%;
}

.contenedor_filtro{
    margin-left: 10%;
    margin-bottom: 1%;
}
.contenedor_bocadillos {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 80px;
    text-align: center;
    margin-top: 15px;

}
h2{
    color: black;
    margin-bottom: 45px;


}

#bocadillo_frio , #bocadillo_caliente {
    width: 350px;
    height: 300px;
    display: flex;
    padding: 10px; 
    cursor: pointer;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px
}

#bocadillo_frio{
    background-color:#5DB529;
}

#bocadillo_frio:hover{
    background-color: rgb(123, 252, 118);
}

#bocadillo_caliente{
    background-color: #CB4D4D;
}

#bocadillo_caliente:hover{
    background-color: #fa8989;
}

#bocadillo_dia{
    margin-left: 40px;
    margin-top: 50px;
    font-size: 20px;
}

#info_cambio_cancelar{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
}